################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/03e67ccf-d5d0-4020-a0c2-9baef3aa5b59.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/0ab39b85-3700-44b6-b32f-0dc8eae47c26.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/a6a88025-be58-4c05-92f3-0bd54271d74c.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/cb533fbd-5057-4db9-a14d-8da98ce07411.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/f23d5fef-1d0e-47e7-8547-4b2540b9b5a1.vsidx
/WorkFlowPro/.vs/WorkFlowPro/CopilotIndices/17.14.1561.44479/CodeChunks.db-wal
/WorkFlowPro/.vs/WorkFlowPro/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-wal
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/cdeb2ab2-85fe-48aa-be74-6086ac6d600e.vsidx
/WorkFlowPro/.vs/WorkFlowPro/v17/.suo
/WorkFlowPro/.vs/WorkFlowPro/v18/.suo
/WorkFlowPro/.vs/ProjectEvaluation/workflowpro.metadata.v9.bin
/WorkFlowPro/.vs/ProjectEvaluation/workflowpro.projects.v9.bin
/WorkFlowPro/.vs/ProjectEvaluation/workflowpro.strings.v9.bin
/WorkFlowPro/.vs/WorkFlowPro/CopilotIndices/17.14.1561.44479/CodeChunks.db
/WorkFlowPro/.vs/WorkFlowPro/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
/WorkFlowPro/.vs/WorkFlowPro/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
/WorkFlowPro/.vs/WorkFlowPro/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-shm
/WorkFlowPro/.vs/WorkFlowPro/DesignTimeBuild/.dtbcache.v2
/WorkFlowPro/.vs/WorkFlowPro/v17/.futdcache.v2
/WorkFlowPro/.vs/WorkFlowPro/v17/DocumentLayout.backup.json
/WorkFlowPro/.vs/WorkFlowPro/v17/DocumentLayout.json
/WorkFlowPro/WorkFlowPro.API/bin/Debug/net8.0/appsettings.Development.json
/WorkFlowPro/WorkFlowPro.API/bin/Debug/net8.0/appsettings.json
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/rpswa.dswa.cache.json
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/WorkFlowPro.API.AssemblyInfoInputs.cache
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/WorkFlowPro.API.assets.cache
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/WorkFlowPro.API.csproj.AssemblyReference.cache
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/WorkFlowPro.API.GeneratedMSBuildEditorConfig.editorconfig
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.AssemblyInfoInputs.cache
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.assets.cache
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.csproj.AssemblyReference.cache
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.GeneratedMSBuildEditorConfig.editorconfig
/WorkFlowPro/WorkFlowPro.Domain/bin/Debug/net8.0/WorkFlowPro.Domain.deps.json
/WorkFlowPro/WorkFlowPro.Domain/bin/Debug/net8.0/WorkFlowPro.Domain.dll
/WorkFlowPro/WorkFlowPro.Domain/bin/Debug/net8.0/WorkFlowPro.Domain.pdb
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/ref/WorkFlowPro.Domain.dll
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/refint/WorkFlowPro.Domain.dll
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.AssemblyInfoInputs.cache
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.assets.cache
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.csproj.CoreCompileInputs.cache
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.csproj.FileListAbsolute.txt
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.dll
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.GeneratedMSBuildEditorConfig.editorconfig
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.pdb
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.sourcelink.json
/WorkFlowPro/WorkFlowPro.Infrastructure/bin/Debug/net8.0/WorkFlowPro.Infrastructure.pdb
/WorkFlowPro/WorkFlowPro.Infrastructure/obj/Debug/net8.0/WorkFlowPro.Infrastructure.AssemblyInfoInputs.cache
/WorkFlowPro/WorkFlowPro.Infrastructure/obj/Debug/net8.0/WorkFlowPro.Infrastructure.csproj.AssemblyReference.cache
/WorkFlowPro/.vs/WorkFlowPro/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/a3ef4cab-f057-4dcf-a5c6-5572d9e0607f.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/c18a9878-2235-4cf1-9ba4-abd8fd7fd398.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/dd728145-fc15-470f-96eb-353abe64fda3.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/e24515e2-46c7-4723-9505-0a9f2047ed81.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/e73e1778-e4d8-4c8a-84ca-818411ede7a9.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/ff977ded-511f-4b4c-b071-15fb261dc744.vsidx
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/apphost.exe
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.csproj.FileListAbsolute.txt
/WorkFlowPro/WorkFlowPro.Infrastructure/obj/Debug/net8.0/WorkFlowPro.Infrastructure.csproj.FileListAbsolute.txt
