################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/03e67ccf-d5d0-4020-a0c2-9baef3aa5b59.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/0ab39b85-3700-44b6-b32f-0dc8eae47c26.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/a6a88025-be58-4c05-92f3-0bd54271d74c.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/cb533fbd-5057-4db9-a14d-8da98ce07411.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/f23d5fef-1d0e-47e7-8547-4b2540b9b5a1.vsidx
