################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/03e67ccf-d5d0-4020-a0c2-9baef3aa5b59.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/0ab39b85-3700-44b6-b32f-0dc8eae47c26.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/a6a88025-be58-4c05-92f3-0bd54271d74c.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/cb533fbd-5057-4db9-a14d-8da98ce07411.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/f23d5fef-1d0e-47e7-8547-4b2540b9b5a1.vsidx
/WorkFlowPro/.vs/WorkFlowPro/CopilotIndices/17.14.1561.44479/CodeChunks.db-wal
/WorkFlowPro/.vs/WorkFlowPro/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-wal
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/cdeb2ab2-85fe-48aa-be74-6086ac6d600e.vsidx
/WorkFlowPro/.vs/WorkFlowPro/v17/.suo
/WorkFlowPro/.vs/WorkFlowPro/v18/.suo
/WorkFlowPro/.vs/ProjectEvaluation/workflowpro.metadata.v9.bin
/WorkFlowPro/.vs/ProjectEvaluation/workflowpro.projects.v9.bin
/WorkFlowPro/.vs/ProjectEvaluation/workflowpro.strings.v9.bin
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/ec62714d-4ce0-4cad-a5ed-48d3792957df.vsidx
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/rpswa.dswa.cache.json
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/WorkFlowPro.API.AssemblyInfo.cs
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/WorkFlowPro.API.AssemblyInfoInputs.cache
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/WorkFlowPro.API.assets.cache
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/WorkFlowPro.API.csproj.AssemblyReference.cache
/WorkFlowPro/WorkFlowPro.API/obj/Debug/net8.0/WorkFlowPro.API.GeneratedMSBuildEditorConfig.editorconfig
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.AssemblyInfo.cs
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.AssemblyInfoInputs.cache
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.assets.cache
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.csproj.AssemblyReference.cache
/WorkFlowPro/WorkFlowPro.Application/obj/Debug/net8.0/WorkFlowPro.Application.GeneratedMSBuildEditorConfig.editorconfig
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.AssemblyInfo.cs
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.AssemblyInfoInputs.cache
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.assets.cache
/WorkFlowPro/WorkFlowPro.Domain/obj/Debug/net8.0/WorkFlowPro.Domain.GeneratedMSBuildEditorConfig.editorconfig
/WorkFlowPro/WorkFlowPro.Infrastructure/obj/Debug/net8.0/WorkFlowPro.Infrastructure.AssemblyInfo.cs
/WorkFlowPro/WorkFlowPro.Infrastructure/obj/Debug/net8.0/WorkFlowPro.Infrastructure.AssemblyInfoInputs.cache
/WorkFlowPro/WorkFlowPro.Infrastructure/obj/Debug/net8.0/WorkFlowPro.Infrastructure.assets.cache
/WorkFlowPro/WorkFlowPro.Infrastructure/obj/Debug/net8.0/WorkFlowPro.Infrastructure.csproj.AssemblyReference.cache
/WorkFlowPro/WorkFlowPro.Infrastructure/obj/Debug/net8.0/WorkFlowPro.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/294c2df9-2db4-4329-a6a4-1ce7d1c31288.vsidx
/WorkFlowPro/.vs/WorkFlowPro/FileContentIndex/83f280c3-dc4f-4ee1-a14e-210495004f7f.vsidx
